.article-list-year-title {
    position: relative;
    text-align: left
}

.article-list-year-title.style-date-year {
    padding: 15px 0;
    line-height: 50px
}

@media only screen and (max-width: 720px) {
    .article-list-year-title.style-date-year {
        padding: 8px 0
    }
}

.article-list-year-title.style-date-year .date {
    display: inline-block;
    font-size: 40px;
    color: #53a8ff;
    vertical-align: middle
}

.article-list-year-title.style-date-year .date:before {
    content: "";
    position: absolute;
    top: 0;
    left: 17px;
    width: 4px;
    background-color: #409eff;
    height: 20%;
    border-radius: 0 0 2px 2px
}

.article-list-year-title.style-date-year .date:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 17px;
    width: 4px;
    background-color: #409eff;
    height: 20%;
    border-radius: 2px 2px 0 0
}

.article-list-year-title.style-date-year .main-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    padding: 0 10px
}

.article-list-year-title.style-date-year .vertical-line {
    display: inline-block;
    height: 20px;
    width: 1px;
    background-color: #333;
    vertical-align: middle
}

.article-list-year-title.style-date-year .sub-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    padding-left: 10px
}

.article-list-year-title.style-date-year .view-more {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 10px
}

.article-list-year-title.style-date-year .view-more a {
    color: #409eff;
    font-weight: 500;
    cursor: pointer
}

.article-list-year-title.style-date-year .view-more a:hover {
    text-decoration: underline
}

.article-list-year-title.style-date-month {
    padding: 15px 0;
    line-height: 30px
}

@media only screen and (max-width: 720px) {
    .article-list-year-title.style-date-month {
        padding: 8px 0
    }
}

.article-list-year-title.style-date-month .date {
    display: inline-block;
    margin-left: 8px;
    font-size: 24px;
    color: #5c5c5c;
    vertical-align: middle
}

.article-list-year-title.style-date-month .date:before {
    content: "";
    position: absolute;
    top: 0;
    left: 17px;
    width: 4px;
    background-color: #409eff;
    height: 20%;
    border-radius: 0 0 2px 2px
}

.article-list-year-title.style-date-month .date:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 17px;
    width: 4px;
    background-color: #409eff;
    height: 20%;
    border-radius: 2px 2px 0 0
}

.article-list-year-title.style-date-month .main-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    padding: 0 10px
}

.article-list-year-title.style-date-month .vertical-line {
    display: inline-block;
    height: 20px;
    width: 1px;
    background-color: #333;
    vertical-align: middle
}

.article-list-year-title.style-date-month .sub-title, .article-list-year-title.style-date-month .view-more {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    padding-left: 10px
}

.article-list-year-title.style-date-month .view-more a {
    color: #409eff;
    font-weight: 500;
    cursor: pointer
}

.article-list-year-title.style-date-month .view-more a:hover {
    text-decoration: underline
}

.archive-list-cell {
    position: relative;
    padding: 5px 0
}

.archive-list-cell:after {
    content: "";
    position: absolute;
    min-height: 25px;
    top: 0;
    bottom: 0;
    left: 17px;
    width: 4px;
    background: #409eff
}

.archive-list-cell .info {
    display: -ms-flexbox;
    display: flex;
    font-size: 17px;
    line-height: 25px;
    margin-left: 45px;
    cursor: pointer
}

@media only screen and (max-width: 720px) {
    .archive-list-cell .info {
        font-size: 13px
    }
}

.archive-list-cell .info .time-tag {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.archive-list-cell .info .base-info a.title {
    margin-left: 5px;
    font-weight: 300;
    color: #333;
    cursor: pointer
}

.archive-list-cell .info .base-info a.title:hover {
    color: #409eff
}

.archive-list-cell .info .base-info a.see-desc {
    color: #444;
    font-size: 13px;
    margin-left: 5px;
    font-weight: 100;
    cursor: pointer
}

.archive-list-cell .info .base-info a.see-desc > i {
    transition: All .4s ease-in-out;
    transform: rotateX(180deg)
}

.archive-list-cell .info .base-info a.see-desc.show, .archive-list-cell .info .base-info a.see-desc:hover {
    color: #409eff
}

.archive-list-cell .info .base-info a.see-desc.show > i {
    transform: rotateX(0deg)
}

.archive-list-cell .info .base-info .desc {
    font-size: 14px;
    font-weight: 300;
    margin-left: 5px;
    color: #444;
    overflow: hidden;
    max-height: 0;
    transition: All .4s ease-in-out
}

.archive-list-cell .info .base-info .desc.show {
    max-height: 250px
}
