.RNNXgb {
    background: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    height: 39px;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
}
.RNNXgb:hover {box-shadow: 5px}
.SDkEP {
    flex: 1;
    display: flex;
    padding: 5px 4px 0 16px;
    padding-left: 20px;
}
.a4bIc {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.vdLsw {
    color: transparent;
    flex: 100%;
    white-space: pre;
}
.gsfi, .lst {
    font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
}
.gLFyf {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
}
.Tg7LZd {
    border-radius: 0 8px 8px 0;
    outline: none;
    flex: 0 0 auto;
    padding-right: 13px;
}
.Tg7LZd {
    border-radius: 0;
    -webkit-border-top-right-radius: 8px;
    height: 44px;
    width: 44px;
    background: transparent;
    border: none;
    cursor: pointer;
    flex: 0 0 auto;
    padding: 0;
}
.rINcab {
    background: none;
    color: #4285f4;
    height: 24px;
    width: 24px;
    margin: auto;
}
.z1asCe {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}
.z1asCe svg {
    display: block;
    height: 100%;
    width: 100%;
}