<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JVblog</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/base.css" rel="stylesheet">
<link href="/css/index.css" rel="stylesheet">
<link href="/css/m.css" rel="stylesheet">
<link href="/css/jv.css" rel="stylesheet">
  <!--google search-->
  <link href="/css/gsearch.css" rel="stylesheet" />
  <!--blogs-->
  <link href="/show-time/css/blogs.css" rel="stylesheet" />
  <!--show-time-->
  <script src="/show-time/js/jquery.min.js" ></script>
  <script src="/show-time/js/scrollReveal.js"></script>
  <script src="/show-time/js/time.js" ></script>
  <!--scroll to top-->
  <script src="/show-time/js/scroll-to-top.js"></script>
  <!--图标-->
  <link rel="shortcut icon" href="/images/icon/favicon.ico" />
  <!--固定侧边栏-->
  <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
  <script type="text/javascript" src="/js/ResizeSensor.min.js"></script>
  <script type="text/javascript" src="/js/theia-sticky-sidebar.min.js"></script>
  <script type="text/javascript">
      jQuery(document).ready(function() {
          jQuery('.sidebar').theiaStickySidebar({
              // Settings
              additionalMarginTop: 30
          });
      });
  </script>

<!--[if lt IE 9]>
<script src="/js/modernizr.js"></script>
<![endif]-->

  <script th:inline="javascript">

      const pageResult = /*[[${pageResult}]]*/ {};
      const tagList = /*[[${tagList}]]*/ [];
      const hotBlogs = /*[[${hotBlogs}]]*/ [];
      const tags = /*[[${tags}]]*/ {};
      const blogpageInfo = /*[[${blogpageInfo}]]*/ {};
      const currentCategory = /*[[${currentCategory}]]*/ {};

  </script>
</head>
<body>
<div id="articalApp">

  <!--#######################################################################-->
  <header class="header-navigation" id="header">
    <nav>
      <div class="logo"><a href="/index" v-text="blogpageInfo.blogName"></a></div>
      <h2 id="mnavh"><span class="navicon"></span></h2>
      <ul id="starlist">
        <li><a href="/index">网站首页</a></li>
        <li><a href="/about">关于我</a></li>
        <li class="menu selected"><a href="/category">文章分类</a>
          <ul class="sub">
            <li v-for="(v,k) in blogpageInfo.categoryList" :key="k"><a :href="'/category/'+v.cid" v-text="v.cname"></a></li>
          </ul>
        </li>
        <li><a href="/search/tag">标签云</a></li>
        <li><a href="/time">时间轴</a></li>
        <li><a href="/message">留言</a></li>
        <li ><a href="javascript:void(0)" @click="toAdminPage">后台管理</a></li>
      </ul>
      <div class="searchbox">
        <div id="search_bar" class="search_bar">
          <form  id="searchform" action="javascript:void(0)" method="post" name="searchform">
            <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard" v-model="keyword" @keyup.enter="submit" >
            <input type="hidden" name="show" value="title" />
            <input type="hidden" name="tempid" value="1" />
            <input type="hidden" name="tbname" value="news">
            <input type="hidden" name="Submit" value="搜索" />
            <p class="search_ico" @click="submit"> <span></span></p>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <!--###########################################################################-->

<article>
  <h1 class="t_nav">
    <span v-text="headerMsg.category"></span>
    <a href="/index" class="n1">>网站首页</a>
    <a href="javascript:void(0)" class="n2" >>文章分类</a>
    <a href="javascript:void(0)" class="n3" v-text="'>'+currentCategory.cname"></a>
  </h1>
    <!--blog列表-->
  <div class="wrapper">
    <div class="blogs">
      <ul id="blogtab-category">
        <span v-for="(v,k) in blogpageInfo.categoryList">
          <li :class="{current:currentCategory.cid==v.cid}" v-text="v.cname" @click="reloadCategory(v)">最新文章</li>
        </span>
      </ul>
      <!--文章列表-->
      <div class="blogs-div" data-scroll-reveal="enter bottom over 1s" v-for="(v,k) in pageResult.itemList" :key="k">
        <h3 class="blogtitle"><a :href="'/blog/'+v.blogId" v-text="v.title"></a></h3>
        <span class="blogpic"><a href="/" title=""><img :src="v.profileImage" alt=""></a></span>
        <p class="blogtext" ><a v-text="v.summary"></a></p>
        <div class="bloginfo">
          <ul>
            <!--<li class="author"><a href="javascript:void(0)" v-text="v.author"></a></li>-->
            <li class="lmname"><a :href="'/search/tag/'+v.tagId" :title="v.tag" v-text="v.tag"></a></li>
            <li class="timer" v-text="jv.formatDate(v.createTime,'yyyy-MM-dd')"></li>
            <li class="view"><span v-text="v.watch"></span></li>
            <li class="commentnum"><span v-text="v.commentNum"></span></li>
            <!--<li class="likeNum">9999</li>-->
          </ul>
        </div>
      </div>
      <!--分页-->
      <div class="pagelist">
        <a href="javascript:void(0)" title="Total record" v-text="'共'+pageResult.totalPage+'页'"></a>
        <span v-if="currentPage!=1">
        <a href="javascript:void(0)" @click="currentPage=1">首页</a>
      </span>
        <span v-else>
        <a href="javascript:void(0)" >首页</a>
      </span>
        <span v-if="currentPage!=1">
        <a href="javascript:void(0)" @click="prePage">上一页</a>
      </span>
        <span v-else>
        <a href="javascript:void(0)" >上一页</a>
      </span>
        <span  v-for="i in Math.min(5,pageResult.totalPage)" v-if="i<=pageResult.totalPage" :key="i">
        <span v-if="index(i)===currentPage">
          <b v-text="index(i)"></b>
        </span>
        <span v-else>
          <a href="javascript:void(0)" @click="currentPage=index(i)" v-text="index(i)"></a>
        </span>
      </span>
        <span v-if="currentPage!=pageResult.totalPage">
        <a href="javascript:void(0)" @click="nextPage">下一页</a>
      </span>
        <span v-else>
        <a href="javascript:void(0)" >下一页</a>
      </span>
        <span>
      <span v-if="currentPage!=pageResult.totalPage">
        <a href="javascript:void(0)" @click="currentPage=pageResult.totalPage">尾页</a>
      </span>
      <span v-else>
        <a href="javascript:void(0)" >尾页</a>
      </span>
    </span>
      </div>
  </div>
  <!--侧边栏-->
  <div class="sidebar">
    <div class="search">
      <div class="RNNXgb" >
        <div class="SDkEP">
          <div class="a4bIc" >
            <div class="vdLsw gsfi"></div>
            <input class="gLFyf gsfi" maxlength="2048" placeholder="请输入关键字" v-model="keyword" type="text" @keyup.enter="submit">
          </div>
        </div>
        <button class="Tg7LZd" type="button" @click="submit">
          <div class="rINcab">
            <span class="z1asCe MZy1Rb">
              <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
              </svg>
            </span>
          </div>
        </button>
      </div>
    </div>
    <div class="cloud">
      <h2 class="hometitle">标签云</h2>
      <ul>
        <a :href="'/search/tag/'+v.tagId" v-text="v.tagName+'('+v.blogCount+')'" v-for="(v,k) in tagList" :key="k"></a>
      </ul>
    </div>
    <div class="paihang">
      <h2 class="hometitle">点击排行</h2>
      <ul>
        <li v-for="(v,k) in hotBlogs" :key="k"><i></i><a :href="'/blog/'+v.blogId" v-text="v.title" :title="v.title"></a></li>
      </ul>
    </div>
  </div>
  </div>
</article>
  <footer>
    <div class="box">
      <div class="wxbox">
        <ul>
          <li><img src="https://www.mobanma.com/Uploads/halftone/2019/07/11/201907110009159146BeUjcv.png"><span>本站地址</span></li>
          <li><img src="https://www.mobanma.com/Uploads/halftone/2019/07/11/201907110010281916RyaKXz.png"><span>GitHub地址</span></li>
        </ul>
      </div>
      <div class="endnav">
        <p><b>站点声明：</b></p>
        <p>1、本站为个人博客，现已在GitHub开源，地址为<a href="https://github.com/Javie0925/jv-blog" target="_blank">https://github.com/Javie0925/jv-blog</a>，欢迎☆star☆。</p>
        <p>2、所有文章均可转载、摘编、复制或建立镜像。</a></p>
        <p>Copyright © <a href="http://jvblog.nat100.top" target="_blank">jvblog.nat100.top</a> All Rights Reserved. </p><!--备案号：<a target="_blank" style="display: none">闽xxx备xxxxxxxx</a>-->
      </div>
    </div>
  </footer>
</div>
<!--悬浮组件-->
<a title="回到顶部" class="m-back" href="#" id="g_backtop" hidefocus="true" style="">
  <img src="/images/back-to-top.png" >
</a>
<a title="回到首页" class="m-back-index" href="/index" id="g_backindex" hidefocus="true" style="">
  <img src="/images/back-to-index2.png" >
</a>
<!--vue-->
<script src="/js/vue/vue.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/common.js"></script>
<!--vue-->
<script type="text/javascript">
    var articalVm = new Vue({
        el: "#articalApp",
        data: {
            jv,
            tagList,
            keyword:"",
            tags,
            pageResult,
            hotBlogs,
            currentPage: 1,
            currentCategory,
            blogpageInfo,
            headerMsg:"",
        },
        created(){
            this.keyword_=this.keyword;
            this.currentPage=this.pageResult.currentPage;
            var headerMsg = JSON.parse(blogpageInfo.headerMsg);
            this.headerMsg = headerMsg;
        },
        methods: {
            index(i){
                if(this.pageResult.totalPage <= 5){
                    // 如果当前页小于等于3或者总页数小于等于5
                    return i;
                } else if(this.pageResult.totalPage > 5 && this.currentPage<=3){
                    return i;
                } else if(this.pageResult.totalPage > 5 && this.currentPage == this.pageResult.totalPage){
                    return this.currentPage-5+i;
                } else if(this.pageResult.totalPage > 5 && this.currentPage == this.pageResult.totalPage-1){
                    return this.currentPage-4+i;
                } else if(this.pageResult.totalPage > 5 && this.currentPage == this.pageResult.totalPage-2){
                    return this.currentPage-3+i;
                } else {
                    // 如果当前页大于3
                    return this.currentPage - 3 + i;
                }
            },
            prePage(){
                if(this.currentPage > 1){
                    this.currentPage--
                }
            },
            nextPage(){
                if(this.currentPage < this.pageResult.totalPage){
                    this.currentPage++
                }
            },
            submit(){
                if(this.keyword||!"请输入关键字"===this.keyword){
                    jv.http.get("/search/check/"+this.keyword).then(resp => {
                        window.location.href = "/search/"+this.keyword;
                    }).catch(error => {
                        window.alert("抱歉，博客找不到。");
                        this.keyword="";
                    })
                }
            },
            toAdminPage(){
                if (this.blogpageInfo.adminUrl){
                    window.open(this.blogpageInfo.adminUrl);
                }
            },
            // 加载分类
            reloadCategory(v){
                jv.http.get("/category/"+v.cid+"/reload"
                ).then(resp => {
                    this.pageResult = resp.data;
                    this.currentCategory = v;
                    this.currentPage = 1;
                }).catch(error => {
                    // window.alert("页面信息错误");
                })
            }
        },
        watch: {
            currentPage:{
                deep:true,
                handler(val,old){
                    jv.http.get("/category/page/",{
                        params:{
                            pageNum:this.currentPage,
                            currentCategory: this.currentCategory.cid,
                        }
                    }).then(resp => {
                        this.pageResult = resp.data;
                    }).catch(error => {
                        window.alert("页面信息错误");
                    })
                }
            }
        }

    })

</script>
<!--<script src="/js/nav.js"></script>-->
<!--特效背景-->
<script src="/js/skin/canvas-nest.min.js" count="200" zindex="-2" opacity="0.8" color="47,135,193" type="text/javascript"></script>
</body>
</html>
