<!doctype html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JVblog</title>
<meta name="keywords" content="个人博客,JV个人博客" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/base.css" rel="stylesheet">
<link href="/css/index.css" rel="stylesheet">
<link href="/css/m.css" rel="stylesheet">
<link href="/css/jv.css" rel="stylesheet">
    <!--show-time-->
    <script src="/show-time/js/jquery.min.js" ></script>
    <script src="/show-time/js/scrollReveal.js"></script>
    <script src="/show-time/js/time.js" ></script>
    <!--图标-->
    <link rel="shortcut icon" href="/images/icon/favicon.ico" />
<script src="/js/jquery-2.1.1.min.js" ></script>
<!--固定侧边栏-->
<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="/js/ResizeSensor.min.js"></script>
<script type="text/javascript" src="/js/theia-sticky-sidebar.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.sidebar').theiaStickySidebar({
            // Settings
            additionalMarginTop: 30,
        });
    });
</script>
<!--评论-->
<link rel="stylesheet" type="text/css" href="/css/show.css">
<!--<script type="text/javascript" src="/js/jquery-1.11.0.min.js"></script>-->
<!--[if lt IE 9]>
<script src="/js/modernizr.js"></script>
<![endif]-->
<!--<script>
window.onload = function ()
{
	var oH2 = document.getElementsByTagName("h2")[0];
	var oUl = document.getElementsByTagName("ul")[0];
	oH2.onclick = function ()
	{
		var style = oUl.style;
		style.display = style.display == "block" ? "none" : "block";
		oH2.className = style.display == "block" ? "open" : ""
	}
}
</script>-->
<script th:inline="javascript">

    const blogVo = /*[[${blogVo}]]*/ {};
    const blogpageInfo = /*[[${blogpageInfo}]]*/ {};

</script>

<!--##############################表情包############################-->

<script type="text/javascript" src="/js/jquery.qqFace.js"></script>
<script type="text/javascript">
    $(function(){
        $('.emotion').qqFace({
            assign:'Ccont', //给那个控件赋值
            path:'/face/'	//表情存放的路径
        });
        /*$(".sub_btn").click(function(){
            var str = $("#saytext").val();
            $("#show").html(replace_em(str));
        });*/
    });
    //替换表情
    function replace_em(str){
        str = str.replaceAll(/\</g,'&lt;');
        str = str.replaceAll(/\>/g,'&gt;');
        str = str.replaceAll(/\n/g,'<br/>');
        str = str.replaceAll(/\[em_([0-9]*)\]/g,'<img src="face/$1.gif" border="0" />');
        return str;
    }
</script>
</head>
<body>
<div id="blogApp">
    <!--#######################################################################-->
    <header class="header-navigation" id="header">
        <nav>
            <div class="logo"><a href="/index" v-text="blogpageInfo.blogName"></a></div>
            <h2 id="mnavh"><span class="navicon"></span></h2>
            <ul id="starlist">
                <li><a href="/index">网站首页</a></li>
                <li><a href="/about">关于我</a></li>
                <li><a href="/time">时间轴</a></li>
                <li><a href="/message">留言</a></li>
                <!--<li class="menu"><a href="jascript:void(0)">学无止境</a>
                  <ul class="sub">
                    <li><a href="#">慢生活</a></li>
                    <li><a href="#">美文欣赏</a></li>
                  </ul>
                </li>-->
                <!--<li><a href="info.html">后台管理</a></li>-->
                <li ><a href="javascript:void(0)" @click="toAdminPage">后台管理</a></li>
                <!--<li><a href="time.html">时间轴</a></li>-->
            </ul>
            <div class="searchbox">
                <div id="search_bar" class="search_bar">
                    <form  id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
                        <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard" v-model="keyword" @keyup.enter="submit" >
                        <input type="hidden" name="show" value="title" />
                        <input type="hidden" name="tempid" value="1" />
                        <input type="hidden" name="tbname" value="news">
                        <input type="hidden" name="Submit" value="搜索" />
                        <p class="search_ico" @click="submit"> <span></span></p>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <!--###########################################################################-->

<article>
  <h1 class="t_nav">
      <span v-text="headerMsg.info"></span>
      <a href="/index" class="n1">网站首页</a>
      <a href="javascrip:void(0)" class="n2">博文页</a>
  </h1>
  <div class="wrapper">
  <div class="infos">
    <div class="newsview">
      <h3 class="news_title" v-text="blogVo.blogDetail.title"></h3>
      <div class="news_author"><span class="au01"><a href="javascript:void(0)" v-text="blogVo.blogDetail.author"></a></span><span class="au02" v-text="jv.formatDate(blogVo.blogDetail.createTime,'yyyy-MM-dd')">2018-04-27</span><span class="au03">共<b v-text="blogVo.blogDetail.watch"></b>人围观</span></div>
        <div class="tags">
            <a :href="'/search/tag/'+blogVo.blogDetail.tagId" >标签：<span v-text="blogVo.blogDetail.tag"></span></a> &nbsp;
            <!--<a :href="'/search/category/'+blogVo.category.categoryId" >分类：{{blogVo.category.categoryName}}</a>-->
        </div>
      <div class="news_about"><strong>简介</strong><span v-text="blogVo.blogDetail.summary"></span></div>
      <div class="news_infos" v-html="blogVo.blogDetail.content"></div>
    </div>
    <div class="share"> </div>
    <div class="nextinfo">
      <p>上一篇：
        <span v-if="blogVo.pre">
            <a :href="'/blog/'+blogVo.pre.blogId" v-text="blogVo.pre.title"></a>
        </span>
        <span v-else>
            <a href="/index">返回列表</a>
        </span>
      </p>
      <p>下一篇：
        <span v-if="blogVo.next">
            <a :href="'/blog/'+blogVo.next.blogId" v-text="blogVo.next.title"></a>
        </span>
        <span v-else>
            <a href="/index">返回列表</a>
        </span>
      </p>
    </div>
    <div class="otherlink">
      <h2>相关文章</h2>
      <ul v-for="v in blogVo.recomends">
        <li><a :href="'/blog/'+v.blogId" title="" v-text="v.title"></a></li>
      </ul>
    </div>
    <div class="news_pl">
      <h2>文章评论</h2>
        <!-- 文章评论 -->
        <div class="mainContainner">
            <div class="commentBox">
                <div class="Ctop">
                    <span class="emotion" style="float: left;margin-right: 20px" title="表情"><img src="/face/13.gif"></span>
                    <label class="Ctip">已有<span class="Ccount" id="Ccount" v-text="blogVo.blogDetail.commentNum"></span>条评论</label>
                </div>
                <div class="Cinput">
                    <textarea placeholder="请输入评论内容(200字以内)" class="Ccont" id="Ccont" v-model="newComment.text" @focus="refreshCommentText"></textarea>
                </div>
                    <span style="color: #8f8f8f;float: right;">您已经输入：<span v-text="newComment.text.length"></span>个字，还可以输入<span v-text="200-newComment.text.length"></span>个字</span>
                <div class="Csunbmit">
                    <!--<label  class="Cnick" style="margin-top: 10px"><strong>您的昵称：</strong></label>-->
                    <input placeholder="请输入昵称"  name="keyword" class="comment_input_text" v-model="newComment.name" @keyup.enter="createComment" style="color: rgb(153, 153, 153);"/>
                    <input  name="Submit" class="comment_input_submit" value="评论" type="submit" @click="createComment">

                    <!--<input class="Cusername" placeholder="你的昵称" id="Cusername"  v-model="newComment.name"></input>-->
                    <!--<button class="submitBtn" @click="createComment">发布评论</button>-->

                </div>
            </div>
            <div v-if="blogVo.commentList.size!=0">
                <div class="CommentList" v-for="(v,k) in blogVo.commentList" :key="k">
                    <ul class="listul" >
                        <div class="news_author">
                            <span class="au01"><a href="javascript:void(0)" v-text="v.name"></a></span>
                            <span class="au02" v-text="jv.formatDate(v.createTime,'yyyy-MM-dd / hh:mm:ss')"></span>
                            <span v-text="'#'+(k+1)" style="float: right"></span>
                        </div>
                        <li class="commentText" v-html="v.text">评论测试评论测试评论测试评论测试评论测试评论测试评论测试评论测试评论测试评论测试评论测试评论测试</li>
                    </ul>
                </div>
            </div>

            <div class="fydiv">
                <ul class="fenye">
                </ul>
            </div>
        </div>
        <!-- 结束 -->
    </div>
  </div>
  <div class="sidebar">
      <div class="theiaStickySidebar">
      <!--搜索-->
      <div class="search">
          <input name="keyword" class="input_text" v-model="keyword" value="请输入关键字" @keyup.enter="submit" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
          <input name="Submit" class="input_submit" value="搜索" type="submit" @click="submit">
      </div>
      <div class="cloud">
          <h2 class="hometitle">标签云</h2>
          <ul >
              <a :href="'/search/tag/'+v.tagId" v-text="v.tagName+'('+v.blogCount+')'" v-for="v in blogVo.tagList"></a>
          </ul>
      </div>
      <div class="paihang">
          <h2 class="hometitle">点击排行</h2>
          <ul>
              <li v-for="(v,k) in blogVo.hotBlogs" :key="k"><i></i><a :href="'/blog/'+v.blogId" v-text="v.title.substring(0,20)" title="个人博客，我为什么要用帝国cms？"></a></li>
          </ul>
      </div>
    <!--<div class="paihang">
        <h2 class="hometitle">点击排行</h2>
        <ul >
            <li v-for="(v,k) in blogVo.hotBlogs" :key="k"><b><a :href="'/blog/'+v.blogId"  v-text="v.title"></a></b>
                <p><i><img :src="v.profileImage"></i><span v-text="v.summary.substring(0,50)"></span>...</p>
            </li>
        </ul>
    </div>-->

    <!--<div class="weixin">
      <h2 class="hometitle">官方微信</h2>
      <ul>
        <img src="/images/wx.jpg">
      </ul>
    </div>-->
      </div>
  </div>
    </div>
</article>
<div class="blank"></div>
<footer>
    <p><a href="javascript:void(0)" v-text="blogpageInfo.footerMsg"></a> </p>
</footer>
</div>
<!--悬浮组件-->
<a title="回到顶部" class="m-back" href="#" id="g_backtop" hidefocus="true" style="">
    <img src="/images/back-to-top.png" >
</a>
<a title="回到首页" class="m-back-index" href="/index" id="g_backindex" hidefocus="true" style="">
    <img src="/images/back-to-index2.png" >
</a>
<!--vue-->
<script src="/js/vue/vue.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/common.js"></script>
<!--vue-->
<script type="text/javascript">
    var blogVm = new Vue({
        el: "#blogApp",
        data: {
            jv,
            window,
            keyword:"",
            blogVo,
            blogpageInfo,
            headerMsg:"",
            newComment:{
                name:"",
                text:"",
                blogId:0,
            }
        },
        created(){
            var headerMsg = JSON.parse(blogpageInfo.headerMsg);
            this.headerMsg = headerMsg;
            this.newComment.blogId = this.blogVo.blogDetail.blogId;
        },
        methods: {
            // 搜索
            submit(){
                if(this.keyword||!"请输入关键字"===this.keyword){
                    jv.http.get("/search/check/"+this.keyword).then(resp => {
                        window.location.href = "/search/"+this.keyword;
                    }).catch(error => {
                        window.alert("抱歉，博客找不到。");
                        this.keyword=""
                    })
                }
            },
            // 返回主页
            toAdminPage(){
                if (this.blogpageInfo.adminUrl){
                    window.open(this.blogpageInfo.adminUrl);
                }
            },
            // 增加评论
            createComment(){
                this.newComment.text = document.getElementById("Ccont").value;
                if(!this.newComment.text){
                    return;
                }
                if(this.newComment.text.length>200){
                    window.alert("字数不能超过200！");
                    return;
                }
                axios.post("/comment",this.newComment)
                .then(resp=>{
                    window.alert("评论成功！");
                    window.location.reload(true);
                }).catch(error=>{
                    window.alert("抱歉，提交失败！")
                })
            },
            refreshCommentText(){
                this.newComment.text=document.getElementById("Ccont").value;
            }
        },

    })

</script>

</body>
</html>
