<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>时间轴-JVBlog</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/show-time/css/base.css" rel="stylesheet">
<link href="/show-time/css/time.css" rel="stylesheet">
<link href="/show-time/css/m.css" rel="stylesheet">
<script src="/show-time/js/jquery.min.js" ></script>
<script src="/show-time/js/scrollReveal.js"></script>
<script src="/show-time/js/time.js" ></script>
<!--scroll to top-->
  <script src="/show-time/js/hc-sticky.js"></script>
  <script src="/show-time/js/scroll-to-top.js"></script>
  <!--图标-->
  <link rel="shortcut icon" href="/images/icon/favicon.ico" />
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
  <script th:inline="javascript">

      const pageResult = /*[[${pageResult}]]*/ {};
      const blogpageInfo = /*[[${blogpageInfo}]]*/ {};
      const headerMsg = /*[[${headerMsg}]]*/ {};

  </script>
</head>
<body>
<div id="timeApp">
  <!--#######################################################################-->
  <header class="header-navigation" id="header">
    <nav>
      <div class="logo"><a href="/index" v-text="blogpageInfo.blogName"></a></div>
      <h2 id="mnavh"><span class="navicon"></span></h2>
      <ul id="starlist">
        <li><a href="/index">网站首页</a></li>
        <li><a href="/about">关于我</a></li>
        <li><a href="/time">时间轴</a></li>
        <li><a href="/message">留言</a></li>
        <!--<li class="menu"><a href="jascript:void(0)">学无止境</a>
          <ul class="sub">
            <li><a href="#">慢生活</a></li>
            <li><a href="#">美文欣赏</a></li>
          </ul>
        </li>-->
        <!--<li><a href="info.html">后台管理</a></li>-->
        <li ><a href="javascript:void(0)" @click="toAdminPage">后台管理</a></li>
        <!--<li><a href="time.html">时间轴</a></li>-->
      </ul>
      <div class="searchbox">
        <div id="search_bar" class="search_bar">
          <form  id="searchform" action="javascript:void(0)" method="post" name="searchform">
            <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard" v-model="keyword" @keyup.enter="submit" >
            <input type="hidden" name="show" value="title" />
            <input type="hidden" name="tempid" value="1" />
            <input type="hidden" name="tbname" value="news">
            <input type="hidden" name="Submit" value="搜索" />
            <p class="search_ico" @click="submit"> <span></span></p>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <!--###########################################################################-->
<article>
  <h1 class="t_nav">
    <span v-text="headerMsg.message" ></span>
    <a href="/index" class="n1">网站首页</a><a href="javascript:void(0)" class="n2">时间轴</a>
  </h1>
<div class="timebox">
  <ul>
    <li v-for="v in pageResult.itemList"><span v-text="jv.formatDate(v.createTime,'yyyy-MM-dd')"></span><i><a :href="'/blog/'+v.blogId" target="_blank" v-text="v.title"></a></i></li>
  </ul>
</div>
  <!--<div class="pagelist"><a title="Total record">&nbsp;<b>160</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/jstt/index_2.html">2</a>&nbsp;<a href="/jstt/index_3.html">3</a>&nbsp;<a href="/jstt/index_4.html">4</a>&nbsp;<a href="/jstt/index_5.html">5</a>&nbsp;<a href="/jstt/index_6.html">6</a>&nbsp;<a href="/jstt/index_2.html">下一页</a>&nbsp;<a href="/jstt/index_14.html">尾页</a></div>-->
</article>
<footer>
  <p><a href="javascript:void(0)" target="_blank">Welcome to JV's blog</a></p>
</footer>
</div>
<!--<a href="#" class="cd-top">Top</a>-->
<!--悬浮组件-->
<a title="回到顶部" class="m-back" href="#" id="g_backtop" hidefocus="true" style="">
  <img src="/images/back-to-top.png" >
</a>
<a title="回到首页" class="m-back-index" href="/index" id="g_backindex" hidefocus="true" style="">
  <img src="/images/back-to-index2.png" >
</a>
<!--vue-->
<script src="/js/vue/vue.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/common.js"></script>
<!--vue-->
<script type="text/javascript">
    var timeVm = new Vue({
        el: "#timeApp",
        data: {
            jv,
            keyword:"",
            headerMsg:"",
            blogpageInfo,
            pageResult,
        },
        created(){
            var headerMsg = JSON.parse(blogpageInfo.headerMsg);
            this.headerMsg = headerMsg;
        },
        methods: {
            // 搜索
            submit(){
                if(this.keyword||!"请输入关键字"===this.keyword){
                    jv.http.get("/search/check/"+this.keyword).then(resp => {
                        window.location.href = "/search/"+this.keyword;
                    }).catch(error => {
                        window.alert("抱歉，博客找不到。");
                        this.keyword="";
                    })
                }
            },
            // 去后台
            toAdminPage(){
                if (this.blogpageInfo.adminUrl){
                    window.open(this.blogpageInfo.adminUrl);
                }
            },
            // 增加评论
            createComment(){
            },
        },

    })

</script>
</body>
</html>
