<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gbk" />
</head>
<body>
<style>
    html,body,div,p{margin:0;padding:0;}
    body{font-size:14px;font-family:"microsoft yahei";background-color:#ffffff}
    table{border-collapse:collapse;border-spacing:0;table-layout:fixed}
    th,td{font-size:14px;padding:0}
    a{text-decoration:none}
    img{border:0 none}
    .blue{text-decoration:none;color:#3c3d5d}
    .chead{width:1002px}
    .chead .logo{width:698px;height:90px}
    .chead .txt{width:152px;height:90px}
    .column{width:1002px;line-height:28px;border:1px solid #dedede}
    .column .hbox{width:185px;height:154px}
    .column .head{display:block;background-color:#fafafa}
    .column .box{width:100%;background-color:#ffffff;border-top:2px solid #f2f3f5}
    .column .box1{width:100%;word-wrap:break-word;color:#ffffff;background-color:#3f4160}
    .column .box2{width:100%;background-color:#f8f9fa}
    .column .tba{width:940px;padding:0 30px 15px}
    .column .tbb{width:940px;padding:0 30px}
    .column .tb1{width:900px;line-height:28px;color:#333333;word-break:break-all;padding:0 20px}
    .column .tb2{width:430px;padding:0 20px}
    .column .tb3{width:900px;padding:15px 20px 15px 0}
    .column .gray,.column .gray2{color:#999999;word-break:break-all}
    .column .gray2{color:#666666}
    .column .plate1,.column .plate2{width:430px;height:54px;font-size:16px;font-weight:bold;color:#818ba3}
    .column .plate1{width:900px;padding:0 50px}
    .column .plate1 .f16{font-size:14px;font-weight:normal;color:#333333}
    .column .plate1 .f12{font-size:12px;font-weight:normal;color:#999999}
    .column .keys,.column .keys2{width:85px;line-height:28px;color:#666666}
    .column .keys2{width:110px}
    .column .txt1,.column .txt2,.column .txt3{width:815px;line-height:28px;color:#333333;word-break:break-all}
    .column .txt2{width:345px}
    .column .txt3{width:auto;max-width:815px;font-size:14px;font-weight:bold}
    .column .txt4{width:305px;color:#ffffff;word-break:break-all}
    .column .infr{width:767px;color:#ffffff;table-layout:auto}
    .column .vam,.column .grcha{vertical-align:middle;margin-left:5px}
    .column .box1 .vam{margin-right:5px;margin-left:0}
    .column .name{font-size:24px;padding-bottom:18px}
    .column .icard{color:#a1a3ae;padding-bottom:18px}
    .column .con{border-top:1px dotted #ddd}
    .column .pr20{width:225px;padding-right:20px}
    .column .time{width:120px;line-height:28px;color:#666666;padding-left:20px}
    .column .rtbox{width:765px;line-height:28px;color:#333333;padding:0 20px 0 15px;word-break:break-all}
    .column .hai,.column .guan{line-height:18px;font-size:12px;color:#ffffff;vertical-align:text-top;margin-left:5px;padding:1px 3px;background-color:#3cbe7f;border-radius:2px}
    .column .guan{background-color:#ff9f20}
    .column .tag{display:inline-block;word-break:break-all;#display:inline;#zoom:1}
    .column .all{color:#666;padding:10px 20px;background-color:#fafafa}
    .column .tit{width:900px;height:40px;color:#666666;padding:0 20px;background-color:#f5f5f5}
    .column .p15{padding:15px 0}
    .column .p5{display:inline-block;color:#666666;padding:0 5px;#display:inline;#zoom:1}
    .column .cell .skill{width:165px;text-align:right;padding-right:15px}
    .column .cell .skbg,.column .cell .skco{display:inline-block;width:245px;height:18px;line-height:18px;font-size:12px;color:#ffffff;vertical-align:top;margin-top:6px;background-color:#dddddd;border-radius:20px;#display:inline;#zoom:1}
    .column .cell .skco{width:235px;font-style:normal;margin-top:0;padding-left:10px;background-color:#ff9f20;z-index:3}
    .column .sl .skco{width:173px}
    .column .lh .skco{width:112px}
    .column .yb .skco{width:51px}
    .column .fbox strong{font-size:14px;font-weight:bold}
    .column .cha{font-size:12px;font-weight:normal;color:#00457d;margin-left:5px}
    .column .cha:hover{color:#ff6000}
    .column .email{width:330px}

    .eng td,.eng .txt3,.eng .fbox strong{font-size:13px;font-family:'Arial'}
    .eng .txt1,.eng .rtbox,.eng .phd{width:775px;font-size:13px;font-family:'Arial';line-height:28px}
    .eng .txt2{width:305px}
    .eng .txt4{width:245px}
    .eng .cell .txt3{width:120px}
    .eng .time,.eng .keys{width:110px;font-size:13px;text-align:right}
    .eng .cell .skill{width:130px}
    .eng .phd{padding-left:145px}
    .eng .keys{padding-right:15px}
    .eng .pr20{width:205px}
    .eng .pr20 .keys{width:100px}
    .eng .email{width:270px}
</style>
<table cellpadding="0" cellspacing="0" align="center" bgcolor="#fff" class="column">
    <tbody >
    <tr>
        <td valign="top">
            <!--基本信息-->
            <table cellspacing="0" cellpadding="0" border="0" class="box1">
                <tbody>
                <tr>
                    <td class="hbox" align="middle">
                        <img src="https://i.51job.com/resume/ajax/image.php?type=avatar&userid=95733075&1560571927&key=37d09e6445174b672503d7ed43ee202a" width="85" height="104" class="head" alt="头像">
                    </td>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0" class="infr">
                            <tbody>
                            <tr>
                                <td colspan="2" class="name">王家伟</td>

                            </tr>
                            <tr>
                                <td valign="top">
                                    <img class="vam" src="https://img01.51jobcdn.com/im/2016/resume/y1.png" width="20" height="20" />目前正在找实习                                            </td>
                                <td valign="top">
                                    <img class="vam" src="https://img01.51jobcdn.com/im/2016/resume/y2.png" width="20" height="20" />15659807545                                                </td>
                                <td valign="top">
                                    <table cellspacing="0" cellpadding="0" border="0" class="email">
                                        <tbody>
                                        <tr>
                                            <td valign="top" width="25">
                                                <img class="vam" src="https://img01.51jobcdn.com/im/2016/resume/y3.png" width="20" height="20" />
                                            </td>
                                            <td valign="top" class="txt4">flying_higher@qq.com</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" colspan="3">
                                    <p>
                                        <img class="vam" src="https://img01.51jobcdn.com/im/2016/resume/y4.png" width="20" height="20" />男<span class="p5">|</span>26 岁 (1992/11/10)<span class="p5">|</span>现居住厦门大学<span class="p5">|</span>个人网站：http://jvblog.nat100.top</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--目前年收入-->
            <!--求职意向-->
            <table cellspacing="0" cellpadding="0" border="0" class="box">
                <tbody>
                <tr>
                    <td class="plate1">求职意向</td>
                </tr>
                <tr>
                    <td class="tba">
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <tr>
                                <td class="tb1" colspan="2">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <thead style="height:0">
                                        <tr>
                                            <td valign="top" class="keys"></td>
                                            <td valign="top" class="txt1"></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="keys">个人标签：</td>
                                            <td valign="top" class="txt1">
                                                <span class="tag">java后端&nbsp;</span>
                                                <span class="tag">SpringBoot&nbsp;</span>
                                                <span class="tag">SSM&nbsp;</span>
                                                <span class="tag">Java开发工程师</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="tb2" valign="top">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="keys">最高学历：</td>
                                            <td valign="top" class="txt2">
                                                厦门大学硕士研究生                                                                </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="tb2" valign="top">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="keys">地点：</td>
                                            <td valign="top" class="txt2">
                                                <span class="tag">厦门&nbsp;</span>
                                                <span class="tag">深圳&nbsp;</span>
                                                <span class="tag">福州</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="tb2" valign="top">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="keys">职能/职位：</td>
                                            <td valign="top" class="txt2">
                                                <span class="tag">软件工程师&nbsp;&nbsp;</span>
                                                <span class="tag">互联网软件开发工程师</span>
                                                <span class="tag">&nbsp;&nbsp;Java开发工程师</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="tb2" valign="top">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="keys">行业：</td>
                                            <td valign="top" class="txt2">
                                                                                                                            <span class="tag">
                                                                    计算机软件                                                                </span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="tb2" valign="top">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="keys">到岗时间：</td>
                                            <td valign="top" class="txt2">随时</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="tb2" valign="top">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="keys">工作类型：</td>
                                            <td valign="top" class="txt2">实习</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--工作经验-->
            <!-- 项目经验 -->
            <table cellspacing="0" cellpadding="0" border="0" class="box">
                <tbody>
                <tr>
                    <td class="plate1">项目经验</td>
                </tr>
                <tr>
                    <td class="tba">
                        <table cellspacing="0" cellpadding="0" border="0">
                            <!--JVblog-->
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="time">2019/5-2019/6</td>
                                            <td valign="top" class="rtbox">
                                                <strong>JVblog（个人博客项目，已上线，访问网址：http://jvblog.nat100.top）</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tb1" colspan="2">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" class="keys">项目描述：</td>
                                                        <td valign="top" class="txt1">
                                                            完全自主搭建的个人博客网站，包括前台博客首页和后台CMS系统。
                                                            前端使用了HTML5+BootStrap+Vue.js等技术，实现了展示博客，评论，留言等功能。
                                                            CMS系统利用JWT+RSA进行身份校验，包括：博客增删改查、图片上传、前台页面基本信息管理、访客管理、留言管理、评论管理等等功能。
                                                            后端使用SpringBoot进行搭建，数据库使用MySql，持久层使用MyBatis。使用thymeleaf进行页面渲染。
                                                            利用redis对博客首页数据进行缓存。图片保存至七牛云对象存储中心。
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!--乐优商城-->
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="time">2018/11-2019/2</td>
                                            <td valign="top" class="rtbox">
                                                <strong>乐优商城</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tb1" colspan="2">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" class="keys">项目描述：</td>
                                                        <td valign="top" class="txt1">基于springboot+springcloud搭建的一个类似京东、淘宝的商城项目。微服务架构。使用nginx实现反向代；使用zuul作为微服务网关；使用feign进行服务间调用；使用RabbitMQ进行服务间通信；利用JWT+RSA进行权限校验；全文检索利用ElasticSearch实现；使用redis进行缓存操作；使用Thymeleaf实现页面静态化处理。</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="time">2018/5-2018/8</td>
                                            <td valign="top" class="rtbox">
                                                <strong>宜立方商城</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tb1" colspan="2">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top" class="keys">项目描述：</td>
                                                        <td valign="top" class="txt1">基于ssm框架。类似京东商城、天猫商城。会员可以在商城浏览商品、 下订单，以及参加各种活动。采用分布式系统架构，子系统之间都是调用服务 dubbo 来实现表现层与服务层之间的通信。使用 ActiveMQ 实现服务层之 间的数据传输。为了提高系统的性能使用 redis 做系统缓存。使用 sso 单点登陆系统解决了 tomcat 的 session 复制上限问题。为了保证 redis 的性能使用 redis 的集群。使用 solrCloud 做搜索引擎。</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--教育经历-->
            <table class="box">
                <tbody>
                <tr>
                    <td class="plate1">教育经历</td>
                </tr>
                <tr>
                    <td class="tba">
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="time">2017/1-2020/6</td>
                                            <td valign="top" class="rtbox">
                                                <strong>厦门大学</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tb1" colspan="2">硕士<span class="p5">|</span>电子与通信工程                                                                </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>

                            </tr>
                            <tr>
                                <td class="p15 con">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="time">2012/9-2016/6</td>
                                            <td valign="top" class="rtbox">
                                                <strong>集美大学</strong>                                                                </td>
                                        </tr>
                                        <tr>
                                            <td class="tb1" colspan="2">本科<span class="p5">|</span>光信息科学与技术                                                                </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--在校情况-->
            <!--<table cellspacing="0" cellpadding="0" border="0" class="box">
                <tbody>
                <tr>
                    <td class="plate1">在校情况</td>
                </tr>
                <tr>
                    <td class="tbb">
                        &lt;!&ndash;校内荣誉&ndash;&gt;
                        <table cellspacing="0" cellpadding="0" border="0">
                            &lt;!&ndash;<tbody>
                            <tr>
                                <td class="tit">校内荣誉</td>
                            </tr>
                            <tr>
                                <td class="tb3">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="time">2019/4</td>
                                            <td valign="top" class="rtbox">
                                                <strong class="txt3">闽都国际银行奖学金</strong>
                                                <span>（一等）</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="tb3 con">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="time">2013/5</td>
                                            <td valign="top" class="rtbox">
                                                <strong class="txt3">奖学金</strong>
                                                <span>（一等）</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>&ndash;&gt;
                        </table>
                        &lt;!&ndash;校内职务&ndash;&gt;
                    </td>
                </tr>
                </tbody>
            </table>-->
            <!--技能特长-->
            <table cellspacing="0" cellpadding="0" border="0" class="box">
                <tbody>
                <tr>
                    <td class="plate1">
                        技能特长
                    </td>
                </tr>
                <tr>
                    <td class="tbb">
                        <!--技能/语言-->
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <tr>
                                <td class="tit">技能/语言</td>
                            </tr>
                            <tr>
                                <td class="p15">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="tb2 cell sl" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="skill">
                                                            <strong class="txt3">Java</strong>
                                                        </td>
                                                        <td valign="top">
                                                                                    <span class="skbg">
                                                                                    <span class="skco">熟练</span>
                                                                                    </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td class="tb2 cell lh" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="skill">
                                                            <strong class="txt3">Linux</strong>
                                                        </td>
                                                        <td valign="top">
                                                                                    <span class="skbg">
                                                                                    <span class="skco">良好</span>
                                                                                    </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tb2 cell sl" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="skill">
                                                            <strong class="txt3">MySQL</strong>
                                                        </td>
                                                        <td valign="top">
                                                                                    <span class="skbg">
                                                                                    <span class="skco">熟练</span>
                                                                                    </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td class="tb2 cell sl" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="skill">
                                                            <strong class="txt3">英语</strong>
                                                        </td>
                                                        <td valign="top">
                                                                                    <span class="skbg">
                                                                                    <span class="skco">熟练</span>
                                                                                    </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tb2 cell lh" valign="top">
                                                <table cellspacing="0" cellpadding="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td class="skill">
                                                            <strong class="txt3">JavaScript</strong>
                                                        </td>
                                                        <td valign="top">
                                                                                    <span class="skbg">
                                                                                    <span class="skco">良好</span>
                                                                                    </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="tb2 cell lh" valign="top">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="skill">
                                                <strong class="txt3"> </strong>
                                            </td>
                                            <td valign="top">
                                                <br>
                                                <br>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tbody>
                        </table>
                    </td>
                </tr>
                            </tbody>
                        </table>
                        <!--证书-->
                        <!--&lt;!&ndash;证书&ndash;&gt;
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                            <tr>
                                <td class="tit">证书</td>
                            </tr>
                            <tr>
                                <td class="tb3">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="time">2013/6</td>
                                            <td valign="top" class="rtbox">
                                                <strong class="txt3">大学英语四级</strong><span>（470）</span>                                                                    </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td class="tb3">
                                    <table cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td valign="top" class="time">2013/6</td>
                                            <td valign="top" class="rtbox">
                                                <strong class="txt3">大学英语四级</strong><span>（470）</span>                                                                    </td>
                                        </tr>

                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            </tbody>
                        </table>-->
                        <!--培训经历-->
                    </td>
                </tr>
                </tbody>
            </table>

            <!--其它-->
        </td>
    </tr>
    </tbody>
</table>
</td>
</tr>
</tbody>
</table>
</body>
</html>